/*��������ʽ*/
body {
    margin: 0;
    padding: 0;
    background-color: #C0C2CC;
    font: 12pt "Tahoma";
}

.table-ctx {
    font-family: ����;
    font-size: 12pt;
    width: 100%;
    float: left;
}

select {
    border: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0 !important;
    text-decoration: none;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn {
    position: fixed;
    left: 100px;
    top: 100px;
}

.btn:hover {
    color: #D4E0DC;
    text-decoration: none;
    background-color: #161117;
}

.printtable {
    border: 1px solid #000;
    width: 100%;
}

.printtable tr {
    border: 1px solid #000;
}

.printtable tr td {
    font-size: 10pt;
    font-family: ����;
    border: 1px solid #000;
    padding: 3px;
}

.strong {
    font-weight: bold;
}

.center {
    text-align: center;
}

.minheight {
    height: 3em;
}

.special {
    padding: 0px !important;
}

.special span {
    float: left;
    padding: 3px;
    border-right: 1px solid #000;
    font-family: ����;
    text-align: left
}

.bigpadding {
    padding: 10px 3px !important;
}

.threefont {
    font-family: ����;
    font-size: 16pt;
    padding: 10px;
}

.fourfont {
    font-family: ����;
    font-size: 14pt;
    padding: 10px;
}

/* �߿���ʽ*/
.notsolid-bottom {
    border-bottom: 1px dashed RGBA(0, 0, 0, 0.3) !important;
}

.notsolid-top {
    border-top: 1px dashed RGBA(0, 0, 0, 0.3) !important;
}

.notsolid-right {
    border-right: 1px dashed RGBA(0, 0, 0, 0.3) !important;
    border-left: 1px dashed RGBA(0, 0, 0, 0.3) !important;;
}

.norightborder {
    border-right: none !important;
    border-left: none !important;
}

.noborder-top {
    border-top: none !important;
}

.noborder-bottom {
    border-bottom: none !important;
}

.noborder {
    border: none !important;
}

/*ҳ��ײ�*/
.footer {
    margin-top: 18px;
    padding: 0px 4px;
}

.footer .text-right {
    float: right
}

.footer .write-name label {
    display: inline-block;
    min-width: 120px;
    border-bottom: 1px solid;
    vertical-align: bottom;
    margin-bottom: 0px;
}

.footer .little-font,
.footer .little-font label {
    font-size: 14px;
}

/* ������ʽ*/
.table-title {
    font-family: ����;
    font-size: 18pt;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}

.table-subtitle {
    font-family: ����;
    font-size: 12pt;
    width: 100%;
    float: left;
}

/* ������ʽ*/
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .btn {
        display: none;
    }
}

@media (max-width: 1150px) {
    .btn {
        display: none;
    }
}

@page {
    size: a4;
    margin: 0;
}